// # esixtyone LVGL compatibility
// CONFIG_ETH_ENABLED=n
// CONFIG_ETH_USE_SPI_ETHERNET=n

# 4MB Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-4MiB-lvgl.csv"

// # ESP32-CAMERA (necessary?)
// CONFIG_OV2640_SUPPORT=y

CONFIG_SPIRAM_MEMTEST=

// # From Lemariva ESP32_CAM board def
// CONFIG_SPIRAM_SIZE=-1
// CONFIG_SPIRAM_USE_MALLOC=y
// CONFIG_SPIRAM_CACHE_WORKAROUND=yl